<%= form_for @suggestion, remote: true do |f| %>
 
	<%= render 'errors' %>

  <div class="field">
    <%= f.text_field :band, placeholder: "Band" %>
  </div>
  <div class="field">
    <%= f.text_field :song, placeholder: "Song" %>
  </div>
  <div class="field">
    <%= f.text_area :comment, placeholder: "And why's it so great?" %>
  </div>
  <div class="actions">
    <%= f.submit "Suggest!" %>
  </div>
<% end %>